<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel='stylesheet' href="../bootstrap.css" />
        <link rel ='stylesheet' href="../stylesheets/centerkeeper.css" />
        <script src='../jquery.js'></script>
        <script src="../javascripts/vaildate.js"></script>
        <script src="../javascripts/jquery-ui.js"></script>
        <title>Center</title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class='col-md-4 text-success'>
                    <h3><p>Visitors <sub><cite>Athiti devo bhav </cite></sub></p></h3>
                </div>
                <div class="offset-4 text-info">
                    <h3><%= center.name %></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a href='home' class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active">Keeper</a>
                        </li>
                        <li class="nav-item">
                            <a href='visitors' class='nav-link'>Visitors</a>
                        </li>
                        <li class="nav-item">
                            <a href="profile" class="nav-link">Pofile</a>
                        </li>
                        <li class="nav-item">
                            <a href='others' class="nav-link">Others</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <a id='logout' href='../logout' class="btn btn-danger text-white">Logout</a>
                </div>
            </div>
        </div>
        <div class="container box">
            <div class='row'>
                <ul class="nav nav-pills flex-column col-md-3">
                    <li class="nav-item">
                        <a id='kl' class="nav-link active opt">Keeper List</a>
                    </li>
                    <li class="nav-item">
                        <a id='cp' class=" nav-link opt">Change Password</a>
                    </li>
                    <li class="nav-item">
                        <a id='adke' class="nav-link opt">Add Keeper</a>
                    </li>
                </ul>
                <!-- add keeper form -->
                <div class="col-md-7 form" id='addkeepform'>
                    <div class="form-group row">
                        <label class='col-form-label col-md-2' for="name">Name</label>
                        <input class='col-md-10 form-control' type="text" id="name">
                        <div class="offset-2 valid-feedback"></div>
                    </div>
                    <div class="form-group row">
                        <label for="Pass1" class="col-form-label col-md-2">Password</label>
                        <input type="password" class='form-control col-md-10' id="pass1" />
                        <div class="offset-2 valid-feedback"></div>
                    </div>
                    <div class="form-group row">
                        <label class='col-form-label col-md-2' for="contact">Contact no</label>
                        <input class='col-md-10 form-control' type="tel" id="contact">
                        <div class="offset-2 valid-feedback"></div>
                    </div>
                    <div class="form-group row">
                        <input class='btn btn-primary offset-2' id='addkeepsub' disabled type="submit" value="submit">
                        <div class="col-md-8 col-form-label text-warning" id='addkeepformtext'>To Enable button fill the details</div>
                    </div>
                </div>
                <!-- Change keeper form  -->
                <div class="col-md-7 form" id='changepassform'>
                    <div class="form-group row">
                        <label class='col-form-label col-md-2' for="Keepuni">Unique Id</label>
                        <input class='col-md-10 form-control' type="text" id="Keepuni">
                        <div class="offset-2 valid-feedback"></div>
                    </div>
                    <div class="form-group row">
                        <label for="Pass2" class="col-form-label col-md-2">Password</label>
                        <input type="password" class='form-control col-md-10' id="pass2" />
                        <div class="offset-2 valid-feedback"></div>
                    </div>
                    <div class="form-group row">
                        <input class='btn btn-primary offset-2' id='keeppassupd' disabled type="submit" value="submit">
                        <div class="col-md-8 col-form-label text-warning" id='chpkeeppasstext'>To Enable button fill the details</div>
                    </div>
                </div>
                <!-- Keeper List Form -->
                <div class="col-md-7 form" id='keeperlistform'>
                    <% if (keepers.length){%>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Keeper Unique Id</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Contact</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (keeper of keepers){ %>
                                    <tr>
                                        <td><%= keeper.keeper_unique_id %></td>
                                        <td><%= keeper.name %></td>
                                        <td><%= keeper.contact %></td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    <% }else{ %>
                        No Keepers Added !
                    <% } %>
                </div>
            </div>
        </div>
        <%- include('../footer'); %>
        <script src='../javascripts/centerkeeper.js'></script>
    </body>
</html>