<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel='stylesheet' href="../bootstrap.css" />
        <link rel ='stylesheet' href="../stylesheets/keeperprofile.css" />
        <script src='../jquery.js'></script>
        <script src="../javascripts/jquery-ui.js"></script>
        <script src="../javascripts/vaildate.js"></script>
        <title>Keepers</title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class='col-md-4 text-success'>
                    <h3><p>Visitors <sub><cite>Athiti devo bhav </cite></sub></p></h3>
                </div>
                <div class="offset-4 text-info">
                    <h3><%= keeper.keeper_unique_id %></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a href='visitors' class="nav-link">Visitors</a>
                        </li>
                        <li class="nav-item">
                            <a href='todayvisitors' class="nav-link">Todays Visitors</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active">Pofile</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <a id='logout' href='../logout' class="btn btn-danger text-white">Logout</a>
                </div>
            </div>
            <div class="container dist">
                <div class="form-group col-md-4">
                    <label for='keeperid'>keeper Id </label>
                    <input id='keeperid' type="text" class='form-control' readonly value="<%= keeper.keeper_unique_id %>" />
                </div>
               <div class="form-group col-md-4">
                   <label for='name'>Name </label>
                   <input id="name" type="text" class='form-control' readonly value="<%= keeper.name %>" />
               </div>
               <div class="form-group col-md-4">
                    <label for='Contact'>Contact </label>
                    <input id='Contact' type="text" class='form-control' readonly value="<%= keeper.contact %>" />
                </div>
                <p class="lead text-warning"> * If you wanna change password contact your center.</p>
            </div>
        </div>
        <%- include('../footer'); %>
        <script src='../javascripts/keeperprofile.js'></script>
    </body>
</html>